#header{
   text-align: center;
}
.repl {
    position:relative;
    min-height:95vh;    
}

.repl-history {      
    height:55vh;   
    margin: auto;
    display: block;
    overflow: scroll;    
}

.repl-input {        
    margin: auto;    
    height:10vh;
}
.repl-command-box {
    width: 90%;            
    margin: auto;
    display: block;
}

/* TODO WITH TA: Style your new button! */
/* TODO: Add some other CSS change! */
